* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.content {
  margin-top: 60px;
  height: 100vh;
  position: relative;
}

nav {
  background-color: #7BABEA;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 5px solid #200961;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  padding: 0 15px;
  z-index: 99;
}
nav .logo {
  display: flex;
  align-self: center;
  width: 400px;
  justify-content: center;
}
nav .logo p {
  color: #fff;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
nav .links {
  width: 800px;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}
nav .links a {
  color: #200961;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #7BABEA;
  color: #200961;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-top: 4px solid #200961;
  padding-top: 15px;
}

.main {
  min-height: 600px;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
}
.main .tagline {
  width: 100%;
  color: #7BABEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 5%;
}
.main .tagline h3 {
  font-size: xx-large;
}
.main .tagline h1 {
  font-size: 70px;
  color: #200961;
}
.main .tagline p {
  font-size: x-large;
}
.main .tagline .image-container {
  height: 300px;
  width: 300px;
  margin: 20px;
  background-image: url("../images/profile_image.jpg");
  background-size: cover;
  background-position: center;
  border: 4px solid #7BABEA;
  border-radius: 200px;
}
.main .tagline .buttons {
  margin-top: 15px;
}
.main .tagline .buttons button {
  margin: 25px;
  width: 140px;
  height: 60px;
  background-color: #200961;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  border: 5px solid #200961;
  box-shadow: inset 0 0 0 3px #fff;
  transition: all 0.3s ease-in-out;
}
.main .tagline .buttons button:hover {
  background-color: #7BABEA;
  transform: scale(1.3);
}

.school-projects {
  margin: 80px auto 0 auto;
  text-align: center;
  max-width: 1000px;
  min-height: 300px;
}
.school-projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
}
.school-projects .container .project-container {
  margin: 10px 25px 0 25px;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  width: 275px;
  position: relative;
  border: 3px solid #200961;
}
.school-projects .container .project-container img {
  height: 400px;
  width: 275px;
}
.school-projects .container .project-container .text-overlay {
  position: absolute;
  top: 0;
  padding: 20% 5%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  opacity: 0;
  transition: 0.5 ease-in-out;
}
.school-projects .container .project-container .text-overlay:hover {
  opacity: 1;
}

.banner {
  margin-top: 8%;
}
.banner h1 {
  color: #200961;
  font-family: Arial;
  font-size: 60px;
}

.about-me {
  margin: 8% auto 0 auto;
  text-align: center;
  max-width: 1000px;
}
.about-me h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #200961;
  font-size: 60px;
  margin-bottom: 20px;
}
.about-me .information {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.about-me .image {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black;
}
.about-me .image .slide-image img {
  height: 300px;
}
.about-me .image .caption {
  position: absolute;
  color: #fff;
  font-family: Arial;
  bottom: 8px;
  left: 10%;
}
.about-me .controls {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 30px;
}
.about-me .controls a {
  margin: 0 40px;
}
.about-me .text {
  text-align: left;
  width: 60%;
  margin: 20px auto;
  color: #7BABEA;
  font-family: Arial, Helvetica, sans-serif;
}
.about-me .text .download-button {
  text-align: center;
}

.contact-form {
  height: 100%;
  max-width: 1000px;
  margin: 8% auto 0 auto;
  text-align: center;
  border: 8px solid #fff;
}
.contact-form h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #200961;
  font-size: 60px;
  margin-bottom: 20px;
}
.contact-form h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #7BABEA;
  font-size: 40px;
}
.contact-form .form-container {
  display: flex;
  flex-direction: column;
}
.contact-form .form-container .row {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.contact-form .form-container .row .half-length {
  font-family: Arial;
  font-size: 16px;
  width: 45%;
  height: 40px;
  border: 3px solid #7BABEA;
  border-radius: 5px;
  padding-left: 10px;
}
.contact-form .form-container .row .full-length {
  font-family: Arial;
  font-size: 16px;
  width: 90%;
  height: 40px;
  border: 3px solid #7BABEA;
  border-radius: 5px;
  padding-left: 10px;
}
.contact-form .form-container .row .full-length-text {
  font-family: Arial;
  font-size: 16px;
  width: 90%;
  height: 150px;
  border: 3px solid #7BABEA;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}
.contact-form .form-container .submit-button #button {
  margin: 25px;
  width: 140px;
  height: 60px;
  background-color: #200961;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  border: 5px solid #200961;
  box-shadow: inset 0 0 0 3px #fff;
  transition: all 0.3s ease-in-out;
}
.contact-form .form-container .submit-button #button:hover {
  background-color: #7BABEA;
  transform: scale(1.3);
}