* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #2b0a86;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.content {
  height: 100%;
  position: relative;
}

nav {
  background-color: #7BABEA;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 10px;
  border: 5px solid white;
  width: 80%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -40%;
  padding: 0 15px;
}
nav .logo {
  display: flex;
  align-self: center;
  width: 400px;
  justify-content: center;
}
nav .logo p {
  color: #F8D9E5;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
nav .links {
  width: 800px;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}
nav .links a {
  color: #2b0a86;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #7BABEA;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-top: 4px solid #fff;
  padding: 2% 0 0 5%;
}

.main {
  min-height: 600px;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
.main .tagline {
  width: 100%;
  color: #7BABEA;
  padding: 10% 5%;
}
.main .tagline h3 {
  font-size: xx-large;
  color: #7BABEA;
}
.main .tagline h1 {
  font-size: 70px;
  color: #F8D9E5;
}
.main .tagline p {
  font-size: x-large;
}
.main .tagline .buttons {
  margin-top: 30px;
}
.main .tagline .buttons button {
  margin: 25px;
  width: 140px;
  height: 60px;
  background-color: #F8D9E5;
  font-size: 20px;
  color: #2b0a86;
  border-radius: 10px;
  border: 5px solid #F8D9E5;
  box-shadow: inset 0 0 0 3px #2b0a86;
  transition: all 0.3s ease-in-out;
}
.main .tagline .buttons button:hover {
  background-color: #7BABEA;
  border: #2b0a86;
  transform: scale(1.3);
}

.school-projects {
  margin: 80px auto 0 auto;
  text-align: center;
  max-width: 950px;
}
.school-projects .project-container {
  height: 400px;
  width: 300px;
  background-color: #f1e4a8;
}

.banner h1 {
  color: #F8D9E5;
  font-family: Arial;
  font-size: 60px;
}

.about-me {
  margin: 80px auto 0 auto;
  text-align: center;
  width: 1000px;
}
.about-me .information {
  display: flex;
  height: 450px;
}
.about-me .image {
  height: 100%;
  width: 50%;
  background-color: cadetblue;
}
.about-me .text {
  width: 50%;
}

.contact-form {
  height: 70%;
  width: 80%;
  margin: 100px auto 0 auto;
  text-align: center;
  border: 8px solid #fff;
  display: flex;
  flex-direction: column;
}