.main{
    height: 70%;
    width: 80%;
    margin: 100px auto 0 auto;
    text-align: center;
    border: 8px solid $white;
    display: flex;
    .title{
        width: 50%;
        padding:5%;
        border-right: 8px solid $white;
        h1{
            font-size: 70px;
            color: $french;
        }
        h2{
            font-size: 60px;
        }
    }
    .tagline{
        width: 50%;
        color: $mimi;
        background-color: $french;
        padding: 10% 5%;
        h3{
            font-size: xx-large;
        }
    }
}