nav {
    background-color: $french;
    display: flex;
    justify-content: space-between;
    align-content: center;

    // border-top: 5px solid $deepblue;
    border-bottom: 5px solid $deepblue;

    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    padding: 0 15px;
    z-index: 99;
    // OLD STYLING
    // border: 5px solid $white;
    // border-radius: 10px;
    // width: 80%;
    // left: 50%;
    // margin-left: -40%;

    // margin: 0 auto;
    .logo{
        display: flex;
        align-self: center;
        width:400px;
        justify-content: center;
        p{
            color: $white;
            font-size: large;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }
    }

    .links{
        width: 800px;
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        a{
            color: $deepblue;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}