.contact-form{
    height: 100%;
    max-width: 1000px;
    margin: 8% auto 0 auto;
    text-align: center;
    border: 8px solid $white;
    // display: flex;
    // flex-direction: column;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: $deepblue;
        font-size: 60px;
        margin-bottom: 20px;
    }
    h3{
        font-family: Arial, Helvetica, sans-serif;
        color: $french;
        font-size: 40px;
    }
    
    .form-container{
        display: flex;
        flex-direction: column;
        .row{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            .half-length{
                font-family: Arial;
                font-size: 16px;
                width: 45%;
                height: 40px;
                border: 3px solid $french;
                border-radius: 5px;
                padding-left: 10px;
            }
            .full-length{
                font-family: Arial;
                font-size: 16px;
                width: 90%;
                height: 40px;
                border: 3px solid $french;
                border-radius: 5px;
                padding-left: 10px;
            }
            .full-length-text{
                font-family: Arial;
                font-size: 16px;
                width: 90%;
                height: 150px;
                border: 3px solid $french;
                border-radius: 5px;
                padding-left: 10px;
                padding-top: 10px;
            }
        }
        .submit-button{
            #button{
                margin: 25px;
                width: 140px;
                height: 60px;
                background-color: $deepblue;
                font-size: 20px;
                color:$white;
                border-radius: 10px;
                border: 5px solid $deepblue;
                box-shadow: inset 0 0 0 3px $white;
                transition: all .3s ease-in-out;
            }

            #button:hover{
                background-color: $french;
                transform: scale(1.3);
            }
        }
    }
}